/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; }


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}

p {
  margin-top: 0; }


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #1EAEDB; }
a:hover {
  color: #0FA0CE; }


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }


/*CUSTOM STYLES
--------------------------------------------------
*/

/*HEADER*/

body > header{
  background: url('../images/sublime-res.jpg') top center no-repeat;
  background-size: cover;
  min-height: 360px;
  width: 100%;
}

.logo{
  margin-top: 1em;
}

.logo a img{
  width: 88px;
  height: 88px;
}

header nav{
  text-align: right;
  margin-top: 3em;
}

header nav ul li{
  display: inline-block;
}

header nav ul li a{
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.75em 2em;
}

header nav ul li a.btn{
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 2px solid #ffffff;
  transition: background 0.3s ease-in-out;
}

header nav ul li a.btn:hover{
  background: #ffffff;
  color: #1a94ea;
}

header .headertext{
  margin-top: 5em;
  animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
}

header .headertext div{
  margin-top: 2em;
}

header h1{
  color: #ffffff;
  font-weight: 300;
  font-size: 3.8em;
  line-height: 1;
  text-shadow: 0 1px 2px rgba(0,0,0,0.2);
  text-align: center;
  margin-bottom: 0.3em;
  margin-top: 0.8em;
}

header p{
  color: #d5d5d5;
  font-size: 1.33em;
  line-height: 1.5;
  text-shadow: 0 1px 2px rgba(0,0,0,0.2);
  text-align: center;
  margin-bottom: 1.2em;
}

header p strong{
  color: #ffffff;
}

header .left-btn a{
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.75em 2em;
    -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 2px solid #ffffff;
  transition: background 0.3s ease-in-out;
}
header .right-btn a{
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.75em 2em;
    -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 2px solid #ffffff;
  transition: background 0.3s ease-in-out;
}

header .left-btn a:hover{
  background: #ffffff;
  color: #1a94ea;
}
header .right-btn a:hover{
  background: #ffffff;
  color: #1a94ea;
}
/*About Me*/
.aboutMe{
  padding: 4em 0 0;
  text-align: center;
}

.aboutMe h2{
  color: #1a94ea;
  font-weight: 300;
}

.aboutMe img{
  border-radius: 50%;
  width: 100px;
}

.aboutMe p {
  color: #9d9d9d;
  font-size: 1.1em;
}

img{
  max-width: 100%;
  height: auto;
}

/*Portfolio*/

.portfolio{
  background-color: #1a94ea;
  padding: 4em 0;
  text-align: center;
}

.portfolio h2{
  color: #ffffff;
  font-weight: 300;
  text-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.portfolio p{
  color: #ffffff;
  font-weight: 300;
  text-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

/*Testing image grids*/

section.portfolio .first-list{
  text-align: center;
  margin-top: 2em;
}

section.portfolio .thumb.is-visible{
  opacity: 1;
  transform: translateX(0px);
}
section.portfolio .thumb{
    display: block;
    background-size: cover;
    background-position: center;
    width: 150px;
    height: 150px;
    float: left;
    position: relative;
    overflow: hidden;
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
    transition: all 300ms ease-in-out
}

/*Fist image*/
section.portfolio .article-meta {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    color: white;
    padding: 10px;
    -webkit-transform: translate(0%, 100%) scale(1.5);
    -ms-transform: translate(0%, 100%) scale(1.5);
    transform: translate(0%, 100%) scale(1.5);
    transition: all 200ms ease-in-out;
    opacity: 0;
}

section.portfolio .article-meta .name {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.2;
}

section.portfolio .article-meta .date{
  font-style: italic;
  font-weight: bold;
}



section.portfolio .thumb:hover .article-meta {
    opacity: 1;
    -webkit-transform: translate(0%, 0%) scale(1);
    -ms-transform: translate(0%, 0%) scale(1);
    transform: translate(0%, 0%) scale(1);
}

/*testing tada*/

   section.portfolio .thumb.animating {
      -webkit-animation-name: jello;
              animation-name: jello;
      -webkit-animation-duration: 1s;
              animation-duration: 1s;
      -webkit-animation-fill-mode: both;
              animation-fill-mode: both;
      z-index: 1; }


/*Changing date font color*/
.first-list a:nth-child(1) .date{
  color: #FFDD55;
}

.first-list a:nth-child(2) .date{
  color: #97c024;
}

.first-list a:nth-child(3) .date{
  color: #00B294;
}

.first-list a:nth-child(4) .date{
  color: #97c024;
}
.first-list a:nth-child(5) .date{
  color: #97c024;
}
.first-list a:nth-child(6) .date{
  color: #FFDD55;
}
.first-list a:nth-child(7) .date{
  color: #FFDD55;
}

.first-list a:nth-child(8) .date{
  color: #FFDD55;
}

/*Changing position on portfolio images*/
.first-list a:nth-child(6){
  background-position: top center;
}
.first-list a:nth-child(8){
  background-position: 30%;
}

/*Knowledge and Education*/

.skillset{
  
  padding: 4em 0;
  text-align: center;
}

.skillset h2{
  color: #1a94ea;;
  font-weight: 300;
  
}

.skillset p{
  color: #9d9d9d;
  font-size: 1.1em;
}

.skillset .git-logo img{
  border-radius: 50%;
  box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
  transition: all 0.3s ease-in-out;
}

.skillset .git-logo img:hover{
  box-shadow: 0px 37px 20px -20px rgba(0,0,0,0.2);
  transform: translate(0px, -10px);
  background: #1a94ea;
}

.skillset .in-logo img{
  width: 120px;
  height: 120px;
  border-radius: 10px;
  box-shadow: 0 17px 10px -10px rgba(0,0,0,0.4);
  transition: all 0.3s ease-in-out;
}

.skillset .in-logo img:hover{
  box-shadow: 0px 37px 20px -20px rgba(0,0,0,0.2);
  transform: translate(0px, -10px);
  background: #1a94ea;
  
}

.education p{
  margin-top: 2em;
}

/*Contact Me*/

.contact{
  background: url('../images/macbook-res.jpg') top center no-repeat;
  background-size: cover;
  min-height: 125px;
  width: 100%;
  padding: 4em 0;
  text-align: center;
}

.contact h2{
  color: #ffffff;
  font-weight: 300;
  text-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.contact p{
  color: #ffffff;
  text-shadow: 0 1px 2px rgba(0,0,0,0.2);
  font-size: 1.2em;
}

footer{
  background: #1a94ea;
  padding: 1em 0;
  text-align: center;
}

footer p {
  color: #ffffff;
  line-height: 1;
  text-transform: uppercase;
  font-size: 0.7em;
  margin-top: 2em;
}

/*MEDIA QUERIES*/

/* Larger than mobile */
@media (max-width: 399px) {
  .logo{
  text-align: center !important;
  border-bottom: 1px solid #ffffff ;
}

header{
  height: 100vh;
}

header nav{
  text-align: center !important;
}

header .headertext{
  margin-top: 0 !important;
}

header h1{
  margin-top: 0.5em;
}

header p{
  margin-bottom: 2.5em;
}

section.portfolio .thumb{
  left: 5%;
}

.skillset .git-logo img{
  margin-bottom: 1em !important;
  }

}


@media (min-width: 400px) {
  .logo{
  text-align: center !important;
  border-bottom: 1px solid #ffffff;
}

header{
  height: 100vh;
}

header nav{
  text-align: center !important;
  margin-top: 5em;
}

header .headertext{
  margin-top: 0 !important;
}

header h1{
  margin-top: 1em;
}

header p{
  margin-bottom: 2.5em;
}


section.portfolio .thumb{
  left: 5%;
}

.skillset .git-logo img{
  margin-bottom: 1em !important;
  }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {

  .logo{
  border-bottom: none;
  }
  header{
    height: 360px;
  }
  header h1{
    margin-top: 0.5em;
  }
  header nav{
  text-align: center !important;
  margin-top: 3em;
}

  section.portfolio .first-list{
    width: 105%;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {

    header h1{
      margin-top: 0.8em;
    }

      header nav{
  
  margin-top: 3em;
}
    section.portfolio .first-list{
    width: 100%;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {


    header nav{
    
    margin-top: 3em;
}
    section.portfolio .first-list{
    width: 100%;
  }

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {

    header nav{
    
    margin-top: 3em;
}
    section.portfolio .first-list{
    width: 100%;
  }
}